.so-widget-sow-button-atom-f1aba0a6e160 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: #7fcaad;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#5bbb96),color-stop(1,#7fcaad));
  background: -ms-linear-gradient(bottom,#5bbb96,#7fcaad);
  background: -moz-linear-gradient(center bottom,#5bbb96 0%,#7fcaad 100%);
  background: -o-linear-gradient(#7fcaad,#5bbb96);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fcaad', endColorstr='#5bbb96', GradientType=0);
  border: 1px solid;
  border-color: #50b78f #4ab38a #45a882 #4ab38a;
  color: #ffffff !important;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-button-atom-f1aba0a6e160 .ow-button-base a .sow-icon-image,
.so-widget-sow-button-atom-f1aba0a6e160 .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-atom-f1aba0a6e160 .ow-button-base a:visited,
.so-widget-sow-button-atom-f1aba0a6e160 .ow-button-base a:active,
.so-widget-sow-button-atom-f1aba0a6e160 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-atom-f1aba0a6e160 .ow-button-base a.ow-button-hover:hover {
  background: #86cdb2;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#62be9b),color-stop(1,#86cdb2));
  background: -ms-linear-gradient(bottom,#62be9b,#86cdb2);
  background: -moz-linear-gradient(center bottom,#62be9b 0%,#86cdb2 100%);
  background: -o-linear-gradient(#86cdb2,#62be9b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#86cdb2', endColorstr='#62be9b', GradientType=0);
  border-color: #57ba94 #50b78f #48af87 #50b78f;
  color: #ffffff;
}