
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=07d6b20817a678b703c55f757ec27d19
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress